src/MenteeAssignment/Service References/SRCustomer/WCFCustomer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WCFCustomer" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52090/WCFCustomer.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52090/WCFCustomer.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52090/WCFCustomer.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import schemaLocation="http://localhost:52090/WCFCustomer.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWCFCustomer_getAllCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllCustomer" />
  </wsdl:message>
  <wsdl:message name="IWCFCustomer_getAllCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFCustomer_getCustomerByID_InputMessage">
    <wsdl:part name="parameters" element="tns:getCustomerByID" />
  </wsdl:message>
  <wsdl:message name="IWCFCustomer_getCustomerByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCustomerByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFCustomer_determineHeader_InputMessage">
    <wsdl:part name="parameters" element="tns:determineHeader" />
  </wsdl:message>
  <wsdl:message name="IWCFCustomer_determineHeader_OutputMessage">
    <wsdl:part name="parameters" element="tns:determineHeaderResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFCustomer_determineSort_InputMessage">
    <wsdl:part name="parameters" element="tns:determineSort" />
  </wsdl:message>
  <wsdl:message name="IWCFCustomer_determineSort_OutputMessage">
    <wsdl:part name="parameters" element="tns:determineSortResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFCustomer_add_InputMessage">
    <wsdl:part name="parameters" element="tns:add" />
  </wsdl:message>
  <wsdl:message name="IWCFCustomer_add_OutputMessage">
    <wsdl:part name="parameters" element="tns:addResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFCustomer_update_InputMessage">
    <wsdl:part name="parameters" element="tns:update" />
  </wsdl:message>
  <wsdl:message name="IWCFCustomer_update_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFCustomer_delete_InputMessage">
    <wsdl:part name="parameters" element="tns:delete" />
  </wsdl:message>
  <wsdl:message name="IWCFCustomer_delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFCustomer_updateFlag_InputMessage">
    <wsdl:part name="parameters" element="tns:updateFlag" />
  </wsdl:message>
  <wsdl:message name="IWCFCustomer_updateFlag_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateFlagResponse" />
  </wsdl:message>
  <wsdl:portType name="IWCFCustomer">
    <wsdl:operation name="getAllCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFCustomer/getAllCustomer" message="tns:IWCFCustomer_getAllCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFCustomer/getAllCustomerResponse" message="tns:IWCFCustomer_getAllCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCustomerByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFCustomer/getCustomerByID" message="tns:IWCFCustomer_getCustomerByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFCustomer/getCustomerByIDResponse" message="tns:IWCFCustomer_getCustomerByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="determineHeader">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFCustomer/determineHeader" message="tns:IWCFCustomer_determineHeader_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFCustomer/determineHeaderResponse" message="tns:IWCFCustomer_determineHeader_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="determineSort">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFCustomer/determineSort" message="tns:IWCFCustomer_determineSort_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFCustomer/determineSortResponse" message="tns:IWCFCustomer_determineSort_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="add">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFCustomer/add" message="tns:IWCFCustomer_add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFCustomer/addResponse" message="tns:IWCFCustomer_add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFCustomer/update" message="tns:IWCFCustomer_update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFCustomer/updateResponse" message="tns:IWCFCustomer_update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFCustomer/delete" message="tns:IWCFCustomer_delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFCustomer/deleteResponse" message="tns:IWCFCustomer_delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateFlag">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFCustomer/updateFlag" message="tns:IWCFCustomer_updateFlag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFCustomer/updateFlagResponse" message="tns:IWCFCustomer_updateFlag_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWCFCustomer" type="tns:IWCFCustomer">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAllCustomer">
      <soap:operation soapAction="http://tempuri.org/IWCFCustomer/getAllCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCustomerByID">
      <soap:operation soapAction="http://tempuri.org/IWCFCustomer/getCustomerByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="determineHeader">
      <soap:operation soapAction="http://tempuri.org/IWCFCustomer/determineHeader" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="determineSort">
      <soap:operation soapAction="http://tempuri.org/IWCFCustomer/determineSort" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="add">
      <soap:operation soapAction="http://tempuri.org/IWCFCustomer/add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update">
      <soap:operation soapAction="http://tempuri.org/IWCFCustomer/update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <soap:operation soapAction="http://tempuri.org/IWCFCustomer/delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateFlag">
      <soap:operation soapAction="http://tempuri.org/IWCFCustomer/updateFlag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WCFCustomer">
    <wsdl:port name="BasicHttpBinding_IWCFCustomer" binding="tns:BasicHttpBinding_IWCFCustomer">
      <soap:address location="http://localhost:52090/WCFCustomer.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>