src/MenteeAssignment/Service References/SRTransactions/WCFTransactions3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ModelTransactions">
    <xs:sequence>
      <xs:element minOccurs="0" name="Customer_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Transaction_ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModelTransactions" nillable="true" type="tns:ModelTransactions" />
</xs:schema>