src/MenteeAssignment/Service References/SRTransactions/WCFTransactions.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WCFTransactions" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52090/WCFTransactions.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52090/WCFTransactions.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52090/WCFTransactions.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import schemaLocation="http://localhost:52090/WCFTransactions.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWCFTransactions_getAllTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllTransaction" />
  </wsdl:message>
  <wsdl:message name="IWCFTransactions_getAllTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFTransactions_getTransactionByID_InputMessage">
    <wsdl:part name="parameters" element="tns:getTransactionByID" />
  </wsdl:message>
  <wsdl:message name="IWCFTransactions_getTransactionByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTransactionByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFTransactions_determineHeader_InputMessage">
    <wsdl:part name="parameters" element="tns:determineHeader" />
  </wsdl:message>
  <wsdl:message name="IWCFTransactions_determineHeader_OutputMessage">
    <wsdl:part name="parameters" element="tns:determineHeaderResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFTransactions_determineSort_InputMessage">
    <wsdl:part name="parameters" element="tns:determineSort" />
  </wsdl:message>
  <wsdl:message name="IWCFTransactions_determineSort_OutputMessage">
    <wsdl:part name="parameters" element="tns:determineSortResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFTransactions_add_InputMessage">
    <wsdl:part name="parameters" element="tns:add" />
  </wsdl:message>
  <wsdl:message name="IWCFTransactions_add_OutputMessage">
    <wsdl:part name="parameters" element="tns:addResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFTransactions_update_InputMessage">
    <wsdl:part name="parameters" element="tns:update" />
  </wsdl:message>
  <wsdl:message name="IWCFTransactions_update_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFTransactions_delete_InputMessage">
    <wsdl:part name="parameters" element="tns:delete" />
  </wsdl:message>
  <wsdl:message name="IWCFTransactions_delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFTransactions_updateFlag_InputMessage">
    <wsdl:part name="parameters" element="tns:updateFlag" />
  </wsdl:message>
  <wsdl:message name="IWCFTransactions_updateFlag_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateFlagResponse" />
  </wsdl:message>
  <wsdl:portType name="IWCFTransactions">
    <wsdl:operation name="getAllTransaction">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFTransactions/getAllTransaction" message="tns:IWCFTransactions_getAllTransaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFTransactions/getAllTransactionResponse" message="tns:IWCFTransactions_getAllTransaction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getTransactionByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFTransactions/getTransactionByID" message="tns:IWCFTransactions_getTransactionByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFTransactions/getTransactionByIDResponse" message="tns:IWCFTransactions_getTransactionByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="determineHeader">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFTransactions/determineHeader" message="tns:IWCFTransactions_determineHeader_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFTransactions/determineHeaderResponse" message="tns:IWCFTransactions_determineHeader_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="determineSort">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFTransactions/determineSort" message="tns:IWCFTransactions_determineSort_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFTransactions/determineSortResponse" message="tns:IWCFTransactions_determineSort_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="add">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFTransactions/add" message="tns:IWCFTransactions_add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFTransactions/addResponse" message="tns:IWCFTransactions_add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFTransactions/update" message="tns:IWCFTransactions_update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFTransactions/updateResponse" message="tns:IWCFTransactions_update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFTransactions/delete" message="tns:IWCFTransactions_delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFTransactions/deleteResponse" message="tns:IWCFTransactions_delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateFlag">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFTransactions/updateFlag" message="tns:IWCFTransactions_updateFlag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFTransactions/updateFlagResponse" message="tns:IWCFTransactions_updateFlag_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWCFTransactions" type="tns:IWCFTransactions">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAllTransaction">
      <soap:operation soapAction="http://tempuri.org/IWCFTransactions/getAllTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTransactionByID">
      <soap:operation soapAction="http://tempuri.org/IWCFTransactions/getTransactionByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="determineHeader">
      <soap:operation soapAction="http://tempuri.org/IWCFTransactions/determineHeader" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="determineSort">
      <soap:operation soapAction="http://tempuri.org/IWCFTransactions/determineSort" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="add">
      <soap:operation soapAction="http://tempuri.org/IWCFTransactions/add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update">
      <soap:operation soapAction="http://tempuri.org/IWCFTransactions/update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <soap:operation soapAction="http://tempuri.org/IWCFTransactions/delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateFlag">
      <soap:operation soapAction="http://tempuri.org/IWCFTransactions/updateFlag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WCFTransactions">
    <wsdl:port name="BasicHttpBinding_IWCFTransactions" binding="tns:BasicHttpBinding_IWCFTransactions">
      <soap:address location="http://localhost:52090/WCFTransactions.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>